.Pics_MainContainer{
    background-color:#F6F6F6;
}
.Pics_Container{
    display:flex;
    flex-direction: column;
}
.Pics_Section{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.Pics_Section img{
    height:506px;
    position:absolute;
}
.Pics_leftpic{
    width: 50%;
    left:0;
}
.Pics_rightpic{
    width:50%;
    right:0;
}
.Pics_TextBox{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:506px;
    padding:50px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.6rem;
}
.Pics_TextBox h2{
    color: #CA0034;
    font-size: 1.9em;
}
.Pics_TextBox p{
    color:#5E6372;
    letter-spacing: 0px;
    font-weight: bolder;
    margin-bottom: 55px;
}

@media (max-width:1000px){
    .Pics_Section img{
        width:100%;
        position:absolute;
    }
    .Pics_Section{
        grid-template-columns: 1fr;
    }
    .Pics_TextBox{
        z-index: 5;
    }
    .Pics_TextBox h2{
        text-shadow: 0px 0px 1px black;

    }
    .Pics_TextBox p {
        color:white;
        text-shadow: 0px 0px 3px black;
        font-size: 90%;
    }
}